<f:layout name="Standard" />

<f:section name="content">
    <f:format.raw>
        {content0}
    </f:format.raw>
    <section class="section">
        <div class="container">
            <ul class="grid grid-standard">
            <li class="grid-item"></li>
            <li class="grid-item"></li>
            <li class="grid-item"></li>
            <li class="grid-item"></li>
            <li class="grid-item"></li>
            <li class="grid-item"></li>
            <li class="grid-item"></li>
            <li class="grid-item"></li>
            </ul>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="group-list">
                <ul class="grid grid-group-layout">
                    <li class="grid-item"></li>
                    <li class="grid-item"></li>
                    <li class="grid-item"></li>
                </ul>
                <ul class="grid grid-group-layout">
                    <li class="grid-item"></li>
                    <li class="grid-item"></li>
                    <li class="grid-item"></li>
                </ul>
            </div>
        </div>
    </section>
</f:section>